@page "/Index"

<PageTitle>Index</PageTitle>


<img src="/img/OpenSaludLogo.jpeg"  />

<button type="button" class="btn btn-primary">Buscar doctores</button>


<AuthorizeView>
	<Authorized>
			
	</Authorized>

	<NotAuthorized>
		<p>You are signed out !!</p>
	</NotAuthorized>
</AuthorizeView>

