@using OpenSalud.Data
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>OpenSalud</PageTitle>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div style="display:flex">
                <div class="sidebar col-3">
                    <NavMenu />
                </div>
                <main class="col-9">
                    <div class="top-row px-4">
                        <a href="/login" @onclick="( () => Logout() )">Logout</a>
                        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                    </div>

                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </div>
            
            
        </Authorized>

        <NotAuthorized>
            <main>
                <div class="top-row px-4">
                    <a href="/login">Login</a>
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>

            </main>
        </NotAuthorized>
    </AuthorizeView>
    
</div>


@code{
    public void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();

    }

}