<div class="rz-sidebar" @onclick="ToggleNavMenu"
    style="top: 51px; bottom: 0px; transform: translateX(0px);">
    <RadzenPanelMenu>
        <ul class="rz-panel-menu">
            <li class="rz-navigation-item">
                <RadzenPanelMenuItem Text="Home" Icon="home" Path="/index" />
            </li>
            <RadzenPanelMenuItem Text="Clínicas" Icon="local_hospital">
                <RadzenPanelMenuItem Text="Registro de Clínicas" Path="hospitalgrid" Icon="local_hospital"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Solicitudes" Path="hospitalrequest" Icon="fact_check"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Doctores" Path="doctorlist" Icon="medical_services"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Usuarios" Icon="person">
                <RadzenPanelMenuItem Text="Administración de usuarios" Path="usergrid" Icon="person"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Analytics" Path="useranalytics" Icon="analytics"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </ul>
    </RadzenPanelMenu>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}